
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,300;1,400&display=swap');

*, *:after, *:before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#contenedor_carga{
	background-color: rgba(250,240,245,0.9);
	height: 100%;
	width: 100%;
	position: fixed;
	-webkit-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
	z-index: 10000;
}

#carga{
	border: 15px solid #1abada;
	border-top-color: #0d14f3;
	border-top-style: groove;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	animation-name: girar;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes girar{
	from{
		transform: rotate(0deg);
	}

	to{
		transform: rotate(360deg);
	}
}

body {
	margin: 0px;
	background: linear-gradient(to bottom, #1abada, #0d14f3 );
	background-size: 100%;
	background-repeat: no-repeat;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

a{
	color: #fff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.container{
	position: absolute;
	background: #222;
	color: #fff;
	min-height: 100vh;
	width: 100px;
	display: flex;
}

.imagen1{
	cursor: pointer;
	border-radius: 15px;
	height: 200px;
	width: 200px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(27,51,133,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(27,51,133,1);
	box-shadow: 10px 10px 5px 0px rgba(27,51,133,1);
	transition: 1s;
	
}

.imagen1:hover{
	transform: scale(1.2);
}

.imagen2{
	cursor: pointer;
	height: 14px;
	width: 25px;
}

.bienvenida{
	width: 100%;
	background:  #0d17f0 ;
	text-align: center;
	padding: 20px;
	border-bottom: 1px solid #fff;
}

header{
	width: 100%;
	display: flex;
	justify-content: center;
	background: #0d17f0 ;
	margin-bottom: 20px;
	border-bottom: 1px solid #fff;
}

.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

.menu li a {
	border-right: 1px solid #fff;
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}

.menu li a:hover{
	background: rgba(0,0,0,0.3);
}

#inicio{
	background: rgba(0,0,0,0.3);
}

.menu ul ul {
	display: none;
}

.cabecera{
	text-align: center;
}

.cabecera .espacio{
	margin-bottom: 20px;
}

.tabla{
	padding: 10px 10px;
	background: #1adad4;
	margin: auto;
	margin-bottom: 15px;
	transition: 1s;
}

.tabla:hover{
	transform: scale(1.5);
}

.contenedor2{
	text-align: center;
}

.contenedor2 p{
	margin-bottom: 20px;
}

.menu ul li:hover ul{
	display: block;
	position: absolute;
	background: linear-gradient(to bottom, #0d14f3,  #1abada );
	
}

.menu ul li:hover ul li a{
	border-right: none;
}

h1{
	color:white !important;
	position: relative;
}

h1 span{
	position: absolute;
	right: 0;
	width: 0;
	background: #0d17f0 ;
	/*border-left: 1px solid blue;*/
	animation: maquina 5s infinite alternate steps(43);
}

@keyframes maquina{
	from{
		width: 100%;
	}

	to{
		width: 0;
	}
}
